In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('/home/dberns/Data/pandas/ultimosMovimientos (2).xls', skiprows=4, usecols=[1, 2, 4, 6, 8])

In [3]:
one = df.fillna(value=0)

In [4]:
one.columns

Index(['Fecha', 'Descripción', 'Unnamed: 4', 'Unnamed: 6', 'Unnamed: 8'], dtype='object')

In [5]:
type(one.Fecha)

pandas.core.series.Series

In [6]:
df[['Fecha', 'Descripción']]

        Fecha                                     Descripción
0  2019-11-04                    PAGO DE SERVICIOS\nCOMOD RIV
1  2019-11-04                    PAGO DE SERVICIOS\nCOMOD RIV
2  2019-11-04                    PAGO DE SERVICIOS\nCOMOD RIV
3  2019-11-04                    PAGO DE SERVICIOS\nCOMOD RIV
4  2019-11-04                          COMPRAS PATAGONIA 24\n
..        ...                                             ...
86 2019-09-25  COMPRAS PATAGONIA 24\nSUPERMERCADOS LA ANONIMA
87 2019-09-24                     PAGO DE SERVICIOS\nPERSONAL
88 2019-09-23                   COMPRAS PATAGONIA 24\nPAN-PAS
89 2019-09-23     COMPRAS PATAGONIA 24\nGRAN FERIA EL $ JUSTO
90        NaT                                     (*) S.E.U.O

[91 rows x 2 columns]