# Variables en pandas

In [2]:
import numpy as np
import pandas as pd

## Series

In [3]:
data = pd.Series([0.25, 0.5, 0.75, 1.0]) # asignación de la variable
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

Como vemos arriba, una variable de tipo Serie tiene un índice (la primer columna, con números de 0 a 3) y 
los valores (la segunda columna, con los datos que suministramos en la asignación de la variable)

In [4]:
type(data)

pandas.core.series.Series

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
type(data.index)

pandas.core.indexes.range.RangeIndex

In [7]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [8]:
type(data.values)

numpy.ndarray

In [9]:
data[1] # Podemos seleccionar valores de a uno

0.5

In [10]:
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [16]:
data[1:3] # Podemos seleccionar varios valores

1    0.50
2    0.75
dtype: float64

## Otra forma de armar series

In [17]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [18]:
# Asi podemos dar nombres significativos para poder recuperar valores con facilidad
data['a']

0.25

In [19]:
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [20]:
# Los valores del índice no tienen que ser consecutivos,
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 'b', 7, 'd'])
data

2    0.25
b    0.50
7    0.75
d    1.00
dtype: float64

In [11]:
notas_por_asignatura = {'algebra': 8, 'fisica': 7, 'quimica': 4, 'estadística': 6, 'dibujo técnico': 6}
tabla = pd.Series(notas_por_asignatura)
tabla

algebra           8
dibujo técnico    6
estadística       6
fisica            7
quimica           4
dtype: int64

In [24]:
tabla.mean()

6.2

In [25]:
tabla['algebra':'quimica']

algebra    8
fisica     7
quimica    4
dtype: int64

In [26]:
tabla[0:3]

algebra    8
fisica     7
quimica    4
dtype: int64

In [28]:
# Otra forma de crear una serie. Por favor, agregar un comentario explicando que sucede

pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

## Dataframes

In [12]:
# Construyamos primero algunas series
tipo = pd.Series({'a': 'triángulo', 'b': 'círculo', 'c': 'hexágono', 'd': 'triángulo', 'e': 'hexágono'})
color = pd.Series({'a': 'rojo', 'b': 'azul', 'c': 'verde', 'd': 'azul', 'e': 'amarillo'})
area = pd.Series({'a': 1.0, 'b': 2.1, 'c': 0.5, 'd': 1.2, 'e': 0.89})

In [13]:
tabla = pd.DataFrame({'tipo': tipo, 'color': color, 'area': area})
tabla

   area     color       tipo
a  1.00      rojo  triángulo
b  2.10      azul    círculo
c  0.50     verde   hexágono
d  1.20      azul  triángulo
e  0.89  amarillo   hexágono

In [14]:
tabla.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [15]:
tabla.columns

Index(['area', 'color', 'tipo'], dtype='object')

In [16]:
tabla.values

array([[1.0, 'rojo', 'triángulo'],
       [2.1, 'azul', 'círculo'],
       [0.5, 'verde', 'hexágono'],
       [1.2, 'azul', 'triángulo'],
       [0.89, 'amarillo', 'hexágono']], dtype=object)

In [17]:
tabla['area']

a    1.00
b    2.10
c    0.50
d    1.20
e    0.89
Name: area, dtype: float64

In [37]:
type(tabla['area'])

pandas.core.series.Series

In [18]:
# Podemos construir un DataFrame con un array de numpy
ejemplo = pd.DataFrame(np.random.rand(3, 2),
             columns=['x', 'y'],
             index=['a', 'b', 'c'])
ejemplo

          x         y
a  0.240758  0.515556
b  0.101670  0.942807
c  0.015536  0.664190

## Index (indices)

In [19]:
# Este es el índice de la variable ejemplo
indice = ejemplo.index
indice

Index(['a', 'b', 'c'], dtype='object')

In [20]:
indice[0] # Todo esta bien

'a'

In [21]:
try:
    indice[0] = 'A' # Esto es un problema, los indices no pueden cambiarse directamente
except TypeError as mensaje:
    print(mensaje)

Index does not support mutable operations

In [55]:
# Como cambiar nombres de filas y columnas
ejemplo_nuevo = ejemplo.rename(index={'a': 'A'}, columns={'x': 'Z'})
print(ejemplo)
print(ejemplo_nuevo)

          x         y
a  0.442012  0.833000
b  0.834721  0.944681
c  0.618372  0.553848
          Z         y
A  0.442012  0.833000
b  0.834721  0.944681
c  0.618372  0.553848